<h1>Activity 1 - PALMER PENGUINS DATA ANALYTICS</h1>
<hr>
<h3>Analyst: Jessie O. Mompero Jr</h3>

In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
penguin = pd.read_csv('datasets\\penguins.csv')

<h3>Converting Dataset(s)</h3>
<h2>Requirements</h2>
<ul>
    <li>
        <h4>Dataframes</h4>
    </li>
    <li>
        <h4>CSV file path</h4>
    </li>
</ul>

In [3]:
penguin

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
penguin.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [5]:
penguin.describe().T #transpose

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h1>Checking for Null Values</h1>

In [6]:
penguin.isnull()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False

In [7]:
penguin.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h1>Filtering</h1>

In [8]:
penguin['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [9]:
penguin['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [10]:
penguin['species'] == "Gentoo"

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [11]:
penguin[penguin['species'] == "Gentoo"]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

<h1>Separating Data Frames</h1>

In [12]:
gentoo_df = penguin[penguin['species'] == "Gentoo"]
gentoo_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [13]:
adelie_df = penguin[penguin['species'] == "Adelie"]
adelie_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [14]:
chinstrap_df = penguin[penguin['species'] == "Chinstrap"]
chinstrap_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>How many Chinstrap is weighting over 4000g</h1>

In [15]:
penguin['species'] == "Chinstrap"

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: species, Length: 344, dtype: bool

In [16]:
penguin['body_mass_g'] >= 4000

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [17]:
chinstrap_heavy = penguin[(penguin['species'] == "Chinstrap") & (penguin['body_mass_g'] >= 4000)]
chinstrap_heavy

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [18]:
chinstrap_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            16 non-null     object
 1   island             16 non-null     object
 2   bill_length_mm     16 non-null     float64
 3   bill_depth_mm      16 non-null     float64
 4   flipper_length_mm  16 non-null     float64
 5   body_mass_g        16 non-null     float64
 6   sex                16 non-null     object
 7   year               16 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.1+ KB

<h1>Filling Up Missing Values</h1>

In [19]:
penguin.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [20]:
penguin["bill_length_mm"].isnull().sum()

np.int64(2)

In [21]:
penguin["bill_length_mm"].mean()

np.float64(43.9219298245614)

In [22]:
penguin["bill_length_mm"] = penguin["bill_length_mm"].fillna(penguin["bill_length_mm"].mean())

In [23]:
penguin.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [24]:
penguin["bill_depth_mm"].mean()

np.float64(17.151169590643274)

In [25]:
penguin["bill_depth_mm"] = penguin["bill_depth_mm"].fillna(penguin["bill_depth_mm"].mean())

In [26]:
penguin.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [27]:
penguin["flipper_length_mm"].mean()

np.float64(200.91520467836258)

In [28]:
penguin["flipper_length_mm"] = penguin["flipper_length_mm"].fillna(penguin["flipper_length_mm"].mean())

In [29]:
penguin.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [30]:
penguin["body_mass_g"].mean()

np.float64(4201.754385964912)

In [31]:
penguin["body_mass_g"] = penguin["body_mass_g"].fillna(penguin["body_mass_g"].mean())

In [32]:
penguin.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [33]:
penguin["sex"].mode()

0    male
Name: sex, dtype: object

In [34]:
penguin["sex"] = penguin["sex"].fillna(penguin["sex"].mode()[0])

In [35]:
penguin.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1>Changing Category</h1>

In [36]:
penguin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [37]:
penguin["species"] = penguin["species"].astype("category")
penguin["island"] = penguin["island"].astype("category")
penguin["sex"] = penguin["sex"].astype("category")
penguin["year"] = penguin["year"].astype("category")

In [38]:
penguin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    category
dtypes: category(4), float64(4)
memory usage: 12.7 KB

In [39]:
penguin.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      344.000000     344.000000         344.000000   344.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.443643       1.969027          14.020657   799.613058
min         32.100000      13.100000         172.000000  2700.000000
25%         39.275000      15.600000         190.000000  3550.000000
50%         44.250000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

<h1>Question 1</h1>
<h2>which species has the heaviest body mass</h2>

In [40]:
penguin['body_mass_g'].mean()

np.float64(4201.754385964912)

In [41]:
gentoo_df = penguin[penguin['species'] == 'Gentoo']

In [42]:
gentoo_df['body_mass_g'].mean()

np.float64(5068.965761177136)

In [43]:
chinstrap_df = penguin[penguin['species'] == 'Chinstrap']

In [44]:
chinstrap_df['body_mass_g'].mean()

np.float64(3733.0882352941176)

In [45]:
adelie_df = penguin[penguin['species'] == 'Adelie']

In [46]:
adelie_df['body_mass_g'].mean()

np.float64(3703.95891043398)

<h1>Insight No.1</h1>
<p>Gentoo has the heaviest average body mass</p>

In [47]:
penguin['mass_kg'] = np.round(penguin['body_mass_g'] / 1000,1)

In [48]:
penguin

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

<h1>How to create your own columns</h1>

In [49]:
penguin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    category
 8   mass_kg            344 non-null    float64
dtypes: category(4), float64(5)
memory usage: 15.4 KB

In [50]:
penguin.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year', 'mass_kg'],
      dtype='object')

In [51]:
penguin['mass_kg'].min()

np.float64(2.7)

In [52]:
penguin[penguin['mass_kg'] == 2.7]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
314,Chinstrap,Dream,46.9,16.6,192.0,2700.0,female,2008,2.7

<hr>
<h1>Activity 1 - PALMER PENGUINS DATA ANALYTICS</h1>
<hr>
<h3>Analyst: Jessie O. Mompero Jr</h3>

<h1>Q1: What species poduce more female penguins?</h1>

<h5>Female Penguin Data Frame</h5>

In [53]:
female_penguin_df = penguin[penguin['sex'] == 'female']
female_penguin_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007,3.6
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007,3.2
...,...,...,...,...,...,...,...,...,...
335,Chinstrap,Dream,45.6,19.4,194.0,3525.0,female,2009,3.5
337,Chinstrap,Dream,46.8,16.5,189.0,3650.0,female,2009,3.6
338,Chinstrap,Dream,45.7,17.0,195.0,3650.0,female,2009,3.6
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

<h5>Number of females from each species</h5>

In [54]:
female_penguin_df['species'].value_counts()

species
Adelie       73
Gentoo       58
Chinstrap    34
Name: count, dtype: int64

<h2>Insight No. 1</h2>
<p>Adelie species produce more female penguins compared to Gentoo and Chinstrap species. </p>
<hr>

<h1>Q2: Does the sex(male or female) of the penguin affect their bill depth?</h1>

<h5>Female Penguin Data Frame</h5>

In [55]:
f_penguin = penguin[penguin['sex'] == 'female']
f_penguin

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007,3.6
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007,3.2
...,...,...,...,...,...,...,...,...,...
335,Chinstrap,Dream,45.6,19.4,194.0,3525.0,female,2009,3.5
337,Chinstrap,Dream,46.8,16.5,189.0,3650.0,female,2009,3.6
338,Chinstrap,Dream,45.7,17.0,195.0,3650.0,female,2009,3.6
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

<h5>Female Penguin Average Bill Depth</h5>

In [56]:
np.round(f_penguin['bill_depth_mm'].mean(),1)

np.float64(16.4)

<h5>Male Penguin Data Frame</h5>

In [57]:
m_penguin = penguin[penguin['sex'] == 'male']
m_penguin

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
5,Adelie,Torgersen,39.30000,20.60000,190.000000,3650.000000,male,2007,3.6
7,Adelie,Torgersen,39.20000,19.60000,195.000000,4675.000000,male,2007,4.7
8,Adelie,Torgersen,34.10000,18.10000,193.000000,3475.000000,male,2007,3.5
...,...,...,...,...,...,...,...,...,...
334,Chinstrap,Dream,50.20000,18.80000,202.000000,3800.000000,male,2009,3.8
336,Chinstrap,Dream,51.90000,19.50000,206.000000,3950.000000,male,2009,4.0
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1

<h5>Male Penguin  Average Bill Depth</h5>

In [58]:
np.round(m_penguin['bill_depth_mm'].mean(),1)

np.float64(17.8)

<h2>Insight No. 2</h2>
<p>Male penguins have depper average bill depth compared to Female penguins</p>
<hr>

<h1>Q3: Does the island that penguin lived in affect their body weight?</h1>

<h5>Torsergen Island Penguin Average Weight</h5>

In [59]:
torsergen_penguin = penguin[penguin['island'] == "Torgersen"]
np.round(torsergen_penguin['mass_kg'].mean(), 1)

np.float64(3.7)

<h5>Dream Island Penguin Average Weight</h5>

In [60]:
dream_penguin = penguin[penguin['island'] == "Dream"]
np.round(dream_penguin['mass_kg'].mean(),1)

np.float64(3.7)

<h5>Biscoe Island Penguin Average Weight</h5>

In [61]:
biscoe_penguin = penguin[penguin['island'] == "Biscoe"]
np.round(biscoe_penguin['mass_kg'].mean(),1)

np.float64(4.7)

<h2>Insight No. 3</h2>
<p>Penguins from Biscoe Isaland are much heavier on average than thos from Torsersen and Dream Island, which both have the same average weight. </p>
<hr>

<h1>Q4: What are the average flipper length of each species?</h1>

<h5>Adelie Penguin Species Average Flipper Length </h5>

In [62]:
adelie_df = penguin[penguin['species'] == 'Adelie']
np.round(adelie_df['flipper_length_mm'].mean(),1)

np.float64(190.0)

<h5>Gentoo Penguin Species Average Flipper Length </h5>

In [63]:
gentoo_df = penguin[penguin['species'] == 'Gentoo']
np.round(gentoo_df['flipper_length_mm'].mean(),1)

np.float64(217.1)

<h5>Chinstrap Penguin Species Average Flipper Length </h5>

In [64]:
chinstrap_df = penguin[penguin['species'] == 'Chinstrap']
np.round(chinstrap_df['flipper_length_mm'].mean(),1)

np.float64(195.8)

<h2>Insight No. 4</h2>
<p>Gentoo Penguins have the average flipper length of 217mm which is longer than other species, Chinstrap followed with average flipper length of 195mm while Adelie comes last with average flipper length of 190mm.</p>
<hr>

<h1>Q5: What happened to the average body mass (kg) of the Adelie species from 2007 to 2009?</h1>

In [65]:
adelie_df = penguin[penguin['species'] == 'Adelie']

<h5>Adelie species average body mass(kg) record in 2007</h5>

In [66]:
adelie_seven_df = adelie_df[adelie_df['year'] == 2007]
np.round(adelie_seven_df['mass_kg'].mean(),2)

np.float64(3.71)

<h5>Adelie species average body mass(kg) record in 2008</h5>

In [67]:
adelie_eight_df = adelie_df[adelie_df['year'] == 2008]
np.round(adelie_eight_df['mass_kg'].mean(),2)

np.float64(3.75)

<h5>Adelie species average body mass(kg) record in 2009</h5>

In [68]:
adelie_nine_df = adelie_df[adelie_df['year'] == 2009]
np.round(adelie_nine_df['mass_kg'].mean(),2)

np.float64(3.66)

<h2>Insight No. 5</h2>
<p>In 2008, the Adelie species mark their heaviest average body mass(kg) with 3.75kg. But following the year 2009, the average body mass(kg) drop with 3.66kg, even lower than the year 2007 with average body mass(kg) with 3.71kg </p>
<hr>

<h1>Q6: Which species had the lowest recorded average body mass (kg) in 2009?</h1>

<h5>Body Mass(kg) record in 2009</h5>

In [69]:
year_nine = penguin[penguin['year'] == 2009]
year_nine['mass_kg'].min()

np.float64(2.9)

<h5>Filtering the result</h5>

In [70]:
heavy = year_nine[year_nine['mass_kg'] == 2.9]
heavy

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
104,Adelie,Biscoe,37.9,18.6,193.0,2925.0,female,2009,2.9
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,female,2009,2.9

<h2>Insight No. 6</h2>
<p>The Adelie species had the lowest recorded avarage body mass(kg) of 2.9kgm in the year 2009, there is 2 recorded penguin which is both female. </p>
<hr>

<h1>Q7: Does sex (male or female) in the Gentoo species affect bill length? </h1>

In [71]:
gentoo_df = penguin[penguin['species'] == "Gentoo"]
gentoo_male_df = gentoo_df[gentoo_df['sex'] == 'male']
gentoo_female_df = gentoo_df[gentoo_df['sex'] == 'female']

<h5>Male Gentoo Penguin average bill length</h5>

In [72]:
gentoo_male_df['bill_length_mm'].mean()

np.float64(49.15639287612972)

<h5>Female Gentoo Penguin average bill length</h5>

In [73]:
gentoo_female_df['bill_length_mm'].mean()

np.float64(45.563793103448276)

<h2>Insight No. 7</h2>
<p>Male Gentoo penguins had longer bill lenght compared to Female Gentoo penguins, giving us the answer that sex from the Gentoo species affect their bill lenght<p>